@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.glow:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
  transition: text-shadow 0.3s ease-in-out;
}
.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 8px #fff, 0 0 0px #fff, 0 0 0px #fff;
  }

  .clip-team {
    clip-path: polygon(20% 0, 140% 0, 80% 100%, -50% 100%);
  }

  .clip-team-data {
    clip-path: polygon(10% 0, 175% 0, 90% 100%, -50% 100%);
  }

  .content {
    width: 100%;
    max-width: 100%;
    padding: 20px;
  }

  @media (min-width: 600px) {
    .content {
        padding: 40px;
    }
  }

  @media (min-width: 1024px) {
    .content {
        padding: 60px;
    }
  }

  .glow {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
  }

  @keyframes slide-down {
      from {
          max-height: 0;
          opacity: 0;
      }
      to {
          max-height: 1000px;
          opacity: 1;
      }
  }

  @keyframes slide-up {
      from {
          max-height: 1000px;
          opacity: 1;
      }
      to {
          max-height: 0;
          opacity: 0;
      }
  }

  .animate-slide-down {
      animation: slide-down 1s ease-out forwards;
  }

  .animate-slide-up {
      animation: slide-up 1s ease-out forwards;
  }

  .transition-max-height {
      transition: max-height 0.5s ease-out;
  }
}
